<!-- <body class="fluid"> -->
  <body>
    <!-- <div class="wrap">  -->
    <div class="wrap fixed">
      
      <header>   
        <div class="logo"></div>
        <nav>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </nav>
      </header>
      
      
      <section class="transparent">
        <div class="headline"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="button"></div>
      </section>
      
      
      <section class="contentbox">
        <div class="headline"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="button"></div>
      </section>
      
      <footer>
        <div class="logo"></div>
        <nav>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </nav>
      </footer>
      
    </div>
      
     <div class="animateme">
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
     
      
      
    </body>
    
    
    
    
    